/* Navigation Bar {utils/components/navbar.tsx} */
.navbar {
  position: absolute;
  background: transparent;
  display: flex;
  width: calc(100% - 32vw);
  padding: 5vh 16vw;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
}

.homelink {
  font-size: 2.5rem;
  font-weight: 400;
  text-decoration: none;
  margin-left: 10px;
  vertical-align: text-bottom;
  font-family: "zooja-pro";
  color: #9d4345;
}

.links {
  padding-top: 20px;
  margin-left: auto;
}

.link {
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 20px;
  color: #9d4345;

  display: inline-block;
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #9d4345;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link:hover,
.link:active {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

/* Logo Icons {utils/components/icon.tsx} */
.logo {
  position: relative;
  height: 85px;
  width: 60px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.logo_image {
  position: absolute;
  z-index: 1;
  margin-top: 6px;
  height: 48px;
  object-fit: contain;
}

.logo_box {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 20px;
  background: #f7f2ee;
  box-shadow: 6px 6px 7px #dedad6, -6px -6px 7px #ffffff;
}

.logo_name {
  transition: color 0.3s;
  color: transparent;
  font-size: 0.85rem;
  font-weight: 500;
  align-self: flex-end;
  white-space: nowrap;
  padding-bottom: 2px;
  z-index: 2;
}

.logo:hover .logo_name {
  color: #9d4345;
}

/* 
* Chevron Up Button 
* for scrolling to the top of page {components/upbutton.tsx} 
*/
.chevron_up_button {
  position: fixed;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 100;
  height: 64px;
  bottom: 24px;
  right: 30px;
  cursor: pointer;
}

.bounce:hover {
  animation-name: bounce-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes bounce-animation {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-7px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-3px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* SideNav {utils/components/sidenav.tsx} */
.sidenav {
  position: fixed;
  padding: 50% 0;
}

/* Footer {utils/components/footer.tsx} */
.footer {
  position: relative;
  height: 60vh;
  outline: none;
  overflow: visible;
}

.footer_image {
  position: absolute;
  width: 100%;
  bottom: 0;
  object-fit: cover;
}

.footer_content {
  position: absolute;
  display: flex;
  height: 60px;
  width: calc(100% - 200px);
  z-index: 100;
  margin: 0 100px;
  bottom: 70px;
}

.footer_content_left {
  flex: 1;
  display: flex;
}

.footer_content_center {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.footer_content_right {
  flex: 1;
}

.footer_heading {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  font-family: "zooja-pro";
}

.footer_zoojaicon {
  display: inline;
  margin-top: -15px;
  margin-right: 10px;
}

.footer_zoojaicon span {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
}

.footer_text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.footer_credits {
  width: 100%;
  margin-bottom: 10px;

  direction: rtl;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.footer_credits a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.buttons {
  margin-top: 10px;
  margin-left: 20px;
}
