.categories {
  margin: 50px 20px 0 -100px;
  width: 80px;
  display: flex;
  flex-direction: column;
}

.category_tag {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  white-space: nowrap;
}

.skills_display {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  width: 100%;
  margin-right: 40px;
  margin-bottom: 20px;
  /*  
  inset neumorphism styling
  border-radius: 20px;
  background: #f7f2ee;
  box-shadow: inset 6px 6px 12px #dedad6, inset -6px -6px 12px #ffffff; 
  */
}

.subheading {
  font-weight: 500;
  font-size: 1.25em;
  color: #666666;
  width: 100%;
  margin-bottom: 15px;
}
