.container {
  width: 100%;
  padding: 30px 30px 20px 30px;
  margin-left: -30px;
  margin-bottom: 75px;
  border-radius: 20px;
  background: #f7f2ee;
  box-shadow: 10px 10px 20px #dedad6, -10px -10px 20px #ffffff;
}

.title {
  font-size: 1.75em;
  font-weight: 700;
  padding-right: 8vw;
  margin-block-start: 0px;
  margin-block-end: 0.25em;
  color: #9d4345;
}

.subheading {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #666666;
}

.additional_notes {
  font-size: 20px;
  font-weight: 500;
  margin-block-start: 1em;
  color: #666666;
}

.description {
  margin: 25px 0;
}

ul {
  color: #000;
}

.skills {
  display: flex;
}

.skills_type {
  flex: 1;
}

.logos {
  display: flex;
  flex-flow: row wrap;
  padding-right: 40px;
}

.action {
  display: block;
  margin-bottom: 20px;
}

.action a {
  font-size: 20px;
  font-weight: 500;
  color: #666666;
  text-decoration: none;
  vertical-align: top;

  position: relative;
}

.action a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #666666;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.action a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.action a:hover,
.action a:active {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.action img {
  height: 24px;
  margin-right: 7px;
  object-fit: contain;
}

.projects_subcontainer {
  width: 100%;
}

.projects_image {
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  margin-bottom: 20px;
}
