.heading_section {
  display: flex;
}

.heading {
  font-size: 13rem;
  font-family: "zooja-pro";
  color: #9d4345;
}

.info {
  padding-top: 150px;
  padding-left: 50px;
}

.introduction {
  margin-top: -50px;
}

@media only screen and (max-width: 992px) {
  /* Medium Devices, Desktops */

  .heading_section {
    display: block;
  }

  .heading {
    width: 100%;
    font-size: 11rem;
    line-height: 150px;
  }

  .info {
    padding-top: 0;
    padding-left: 0;
  }

  .introduction {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 320px) {
  /* Custom, iPhone Retina */

  .heading_section {
    margin-top: 100px;
  }

  .heading {
    width: 100%;
    font-size: 8rem;
    line-height: 100px;
  }
}
