h1 {
  font-size: 8rem;
  font-weight: 400;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  font-family: "zooja-pro";
  color: #9d4345;
}

h2 {
  font-size: 6rem;
  font-weight: 400;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  font-family: "zooja-pro";
  color: #9d4345;
}

li {
  font-size: 1.25em;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0.25em;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  padding-right: 8vw;
  margin-block-start: 0;
  margin-block-end: 1em;
}

p strong {
  font-weight: 700;
  color: #9d4345;
}

.zooja_elements {
  font-family: "zooja-elements-and-borders", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p .zooja_elements {
  font-size: 1.5em;
}

.heading_box {
  display: flex;
}

.side_icon {
  margin-right: 20px;
}

.page {
  position: relative;
  background-color: #f7f2ee;
  padding-top: 16vh;
  color: #00171f;
  min-height: 100vh;
  overflow: auto;
}

.container {
  display: flex;
  align-items: flex-start;
}

.container p {
  padding-right: 0;
}

.page_block {
  min-height: 75vh;
  padding: 10vh 16vw;
  outline: none;
}
