.navbar {
  position: absolute;
  background: transparent;
  display: flex;
  width: 100%;
}

.page {
  background-color: #e8e8e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1d3557;
}

.nav-link {
  color: #e63946;
  text-decoration: none;
  margin: 10px;
}
